{% extends 'base.html' %}
{% load static %}

{% block title %}
ReleCloud - {{ destination.name }}
{% endblock %}

{% block content %}
<h1>{{ destination.name }}</h1>

<div style="margin: 12px 0;">
  {% if destination.image %}
    <img src="{{ destination.image.url }}"
         alt="{{ destination.name }}"
         style="max-width:400px; height:auto;">
  {% endif %}
</div>

{% if destination.description %}
  <p>{{ destination.description }}</p>
{% endif %}

<p><strong>Available cruises for this destination:</strong></p>
<ul class="list-group">
  {% for cruise in destination.cruises.all %}
    <a class="list-group-item list-group-item-action" href="{% url 'cruise_detail' cruise.id %}">
      {{ cruise }}
    </a>
  {% empty %}
    <li class="list-group-item">No cruises available for this destination.</li>
  {% endfor %}
</ul>
{% endblock content %}
